@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #ddd;
	font-family: "Nunito";
}

/* login styles */
.login_container {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.form_wrapper {
	color: #555;
}
.title_container {
	text-align: center;
	margin-bottom: 1rem;
}
.title_container span {
	color: rgb(0, 118, 228);
}
.error_msg {
	color: rgb(255, 1, 1);
}
.form_wrapper > h2 {
	font-size: 2rem;
	padding-bottom: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	padding: 3rem;
	border-radius: 5px;
	/* max-width: 900px; */
}

.input_wrapper {
	margin-bottom: 1rem;
}

input:not(.checkbox) {
	display: block;
	padding: 1rem 5rem 1rem 0.5rem;
	border: none;
	outline: none;
	border-radius: 5px;
}
.label {
	display: inline-block;
	font-size: 1.15rem;
	margin-bottom: 0.3rem;
	letter-spacing: 0.1rem;
}
.btn {
	padding: 1rem;
	border: none;
	outline: none;
	background-color: rgb(0, 118, 228);
	color: #fff;
	border-radius: 5px;
	letter-spacing: 0.1rem;
	font-size: 1.25em;
	cursor: pointer;
}
